graft SportsCardsTool

include LICENSE
include *.md

include .bumpversion.cfg
include pyproject.toml
include Makefile
include SportsCardTool/data/bref_data.json
include docs/Makefile
include docs/SportsCardTool.rst

prune .github
exclude .gitignore
exclude .gitattributes

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude .DS_Store
