graft SportsCardsTool

include LICENSE
include *.md

include .bumpversion.cfg
include pyproject.toml
include Makefile
include SportsCardTool/data/bref_data.json
include docs/Makefile
include .nojekyll

recursive-include docs *.bat
recursive-include docs *.buildinfo
recursive-include docs *.css
recursive-include docs *.doctree
recursive-include docs *.html
recursive-include docs *.inv
recursive-include docs *.js
recursive-include docs *.pickle
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt

prune .github
exclude .gitignore
exclude .gitattributes

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude .DS_Store
